streamlit
openai
requests>=2.27
python-dotenv
PyJWT
pydub
SpeechRecognition
pyrebase4
matplotlib
gcloud           # required by pyrebase4
setuptools       # fixes pkg_resources error
astor            # for safe dict parsing (optional but useful)
